In [29]:
import pandas as pd

df = pd.read_csv('data/sales.csv', sep=';', decimal=',')
df.head(5)

,Unnamed: 0,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               1000 non-null   int64
 1   Invoice ID               1000 non-null   object
 2   Branch                   1000 non-null   object
 3   City                     1000 non-null   object
 4   Customer type            1000 non-null   object
 5   Gender                   1000 non-null   object
 6   Product line             1000 non-null   object
 7   Unit price               1000 non-null   float64
 8   Quantity                 1000 non-null   int64
 9   Tax 5%                   1000 non-null   float64
 10  Total                    1000 non-null   float64
 11  Date                     1000 non-null   object
 12  Time                     1000 non-null   object
 13  Payment                  1000 non-null   object
 14  cogs                     1000 non-null   float64
 15  gross margin percentage  1000 non-null   float64
 16  gross income             1000 non-null   float64
 17  Rating                   1000 non-null   float64
dtypes: float64(7), int64(2), object(9)
memory usage: 140.8+ KB

In [31]:
# Converter data
df['Date'] = pd.to_datetime(df['Date'], yearfirst=True, errors='coerce')

df.dropna()
# df['Total'] = df['Total'].fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               1000 non-null   int64
 1   Invoice ID               1000 non-null   object
 2   Branch                   1000 non-null   object
 3   City                     1000 non-null   object
 4   Customer type            1000 non-null   object
 5   Gender                   1000 non-null   object
 6   Product line             1000 non-null   object
 7   Unit price               1000 non-null   float64
 8   Quantity                 1000 non-null   int64
 9   Tax 5%                   1000 non-null   float64
 10  Total                    1000 non-null   float64
 11  Date                     1000 non-null   datetime64[ns]
 12  Time                     1000 non-null   object
 13  Payment                  1000 non-null   object
 14  cogs                     1000 non-null   float64
 15  gross margin percentage  1000 non-null   float64
 16  gross income             1000 non-null   float64
 17  Rating                   1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(8)
memory usage: 140.8+ KB

## Análises temporais

In [32]:
df['City'] = df['City'].str.title().str.strip()
df['Customer type'] = df['Customer type'].str.capitalize().str.strip()
df['Payment'] = df['Payment'].str.capitalize().str.strip()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               1000 non-null   int64
 1   Invoice ID               1000 non-null   object
 2   Branch                   1000 non-null   object
 3   City                     1000 non-null   object
 4   Customer type            1000 non-null   object
 5   Gender                   1000 non-null   object
 6   Product line             1000 non-null   object
 7   Unit price               1000 non-null   float64
 8   Quantity                 1000 non-null   int64
 9   Tax 5%                   1000 non-null   float64
 10  Total                    1000 non-null   float64
 11  Date                     1000 non-null   datetime64[ns]
 12  Time                     1000 non-null   object
 13  Payment                  1000 non-null   object
 14  cogs                     1000 non-null   float64
 15  gross margin percentage  1000 non-null   float64
 16  gross income             1000 non-null   float64
 17  Rating                   1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(8)
memory usage: 140.8+ KB

In [40]:
df['Month'] = df['Date'].dt.to_period('M').astype(str)
# df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()


# Ticket Médio (Total / Quantity)
df['Ticket_Medio'] = df['Total'] / df['Quantity']

df

,Unnamed: 0,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,...,Payment,cogs,gross margin percentage,gross income,Rating,Month,Year,Day,Weekday,Ticket_Medio
0,0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,...,Ewallet,522.83,4.761905,26.1415,9.1,2019-01,2019,5,Saturday,78.4245
1,1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,...,Cash,76.40,4.761905,3.8200,9.6,2019-03,2019,8,Friday,16.0440
2,2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,...,Credit card,324.31,4.761905,16.2155,7.4,2019-03,2019,3,Sunday,48.6465
3,3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,...,Ewallet,465.76,4.761905,23.2880,8.4,2019-01,2019,27,Sunday,61.1310
4,4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,...,Ewallet,604.17,4.761905,30.2085,5.3,2019-02,2019,8,Friday,90.6255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,...,Ewallet,40.35,4.761905,2.0175,6.2,2019-01,2019,29,Tuesday,42.3675
996,996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,...,Ewallet,973.80,4.761905,48.6900,4.4,2019-03,2019,2,Saturday,102.2490
997,997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,...,Cash,31.84,4.761905,1.5920,7.7,2019-02,2019,9,Saturday,33.4320
998,998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,...,Cash,65.82,4.761905,3.2910,4.1,2019-02,2019,22,Friday,69.1110
999,999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,...,Cash,618.38,4.761905,30.9190,6.6,2019-02,2019,18,Monday,92.7570

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               1000 non-null   int64
 1   Invoice ID               1000 non-null   object
 2   Branch                   1000 non-null   object
 3   City                     1000 non-null   object
 4   Customer type            1000 non-null   object
 5   Gender                   1000 non-null   object
 6   Product line             1000 non-null   object
 7   Unit price               1000 non-null   float64
 8   Quantity                 1000 non-null   int64
 9   Tax 5%                   1000 non-null   float64
 10  Total                    1000 non-null   float64
 11  Date                     1000 non-null   datetime64[ns]
 12  Time                     1000 non-null   object
 13  Payment                  1000 non-null   object
 14  cogs                     1000 non-null   float64
 15  gross margin percentage  1000 non-null   float64
 16  gross income             1000 non-null   float64
 17  Rating                   1000 non-null   float64
 18  Month                    1000 non-null   object
 19  Year                     1000 non-null   int32
 20  Day                      1000 non-null   int32
 21  Weekday                  1000 non-null   object
 22  Ticket_Medio             1000 non-null   float64
dtypes: datetime64[ns](1), float64(8), int32(2), int64(2), object(10)
memory usage: 172.0+ KB

In [36]:
import sqlite3

con = sqlite3.connect('supermarket.db')

df.to_sql('SalesSuperMarket', con=con, if_exists='replace', index=False)

with open('saida.sql', 'w', encoding='utf-8') as f:
    for linha in con.iterdump():
        f.write(f'{linha}\n')
        
con.close()